.projectContainer {
  // background: radial-gradient(#2d2d2d, #4e4e4e,#2d2d2d );
  background: #4e4e4e;
  height: 500px;
  width: 680px;
  border-radius: 16px;
  overflow: hidden;
  color: white;
}
.projectImage {
  // background-image: url(../../../../public/assets/images/nk.jpeg);
  background-size: 100% 100%,auto;

}
