.projectContainer {
  background: radial-gradient(#033044, rgb(155, 149, 149),black );
  // background:#033044;
  height: 500px;
  width: 680px;
  border-radius: 16px;
  overflow: hidden;
  color: white;
}
.projectImage {
  // background-image: url(../../../../public/assets/images/nk.jpeg);
  background-size: 100% 100%,auto;

}
