.cover {
  background: linear-gradient(#42454a, #707175, #a9a9aa, #e6e7ea);
  height: 100vh;
  // width: 100vw;
}
.cover-page {
  height: 100vh;
  // width: 100vw;
  background-image: url(../../../../../public/assets/images/Desktop.png);
  background-size: 100% 100%, contain;
  background-position: center;
  overflow: hidden;
}
.cover-label {
  top: 120px;
  position: relative;
  left: 80px;
  color: white;
}

.shinee {
  color: #000;
  // padding: 64px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 48%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(0, 2%, 83%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

@media screen and (max-width: 1400px) {
  .cover-label {
    top: 120px;
    left: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .cover-label {
    top: 120px;
    left: 40px;
  }
}

@media screen and (max-width: 780px) {
  .cover {
    height: 50vh;
  }
  .cover-page {
    height: 50vh;
    background-image: url(../../../../../public/assets/images/Mobile.png);
  }
  .cover-label {
    top: 120px;
    left: 20px;
    // padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .cover {
    height: 40vh;
  }
  .cover-page {
    height: 40vh;
  }
  .cover-label {
    top: 85px;
  }
}

@media screen and (max-width: 380px) {
  .cover-label {
    left: 10px;
    // padding: 10px;
  }
}

