.box {
  height: 420px;
  width: 680px;
  border-radius: 16px;
}

.rightBox {
  color: white;
  border-radius: 12px;
}

.zoom {
  transition: transform .2s; /* Animation */
margin: 20px;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.payment{
  background: linear-gradient(#96cdd4, #e5edfd,#f8f9fa );
  border-radius: 12px;

}
