.offer {
  background-image: url(../../../../../public/assets/images/dollar.avif);
  background-size: 100% 100%, auto;
  height: 100px;
  width: 120px;
}

.mission{
  background-image: url(../../../../../public/assets/images/mission.jpg);
  background-size: 100% 100%, cover;
  height: 400px;
  border-radius: 10px;
}
.services{
  background-image: url(../../../../../public/assets/images/services.jpg);
  background-size: 100% 100%, cover;
  height: 400px;
  border-radius: 10px;
}