#swiper-carousel {
  .circle {
    height: 210px;
    width: 210px;
    border-radius: 100%;
    background-position: center;
    // &:hover{
    //   scale: 1.1;
    // }
    text-align: center;
  }
  .txt {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
  }
  @media screen and (max-width: 760px) {
    .circle {
      height: 180px;
      width: 180px;
    }
    .txt {
      font-size: 18px;
    }
  }
}
