#login {
  height: 100vh;
  background-image: url("../../../public/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 500px;

  .css-17cvodc-MuiInputBase-input-MuiOutlinedInput-input {
    width: 33vw !important;
  }
}
