.wrapper {
  height: 80vh;
  // width: 100vw;
  background-image: url(../../../../public/assets/images/desktop.png);
  background-size: 100% 100%, contain;
  background-position: center;
  opacity: 0.5;
  object-fit: contain;
}

@media screen and (max-width: 720px) {
  .wrapper {
    height: 40vh;
  background-image: url(../../../../public/assets/images/mobile.png);

  }
}
